@font-face {
    font-family: 'Butler Stencil';
    src: url('../fonts/Butler_Stencil_Webfont-../fonts/Butler_Stencil_Webfont-ButlerStencil-Medium.woff2') format('woff2'),
        url('../fonts/Butler_Stencil_Webfont-ButlerStencil-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('../fonts/Butler_Stencil_Webfont-../fonts/Butler_Stencil_Webfont-ButlerStencil.woff2') format('woff2'),
        url('../fonts/Butler_Stencil_Webfont-ButlerStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('../fonts/Butler_Stencil_Webfont-../fonts/Butler_Stencil_Webfont-ButlerStencil-ExtraBold.woff2') format('woff2'),
        url('../fonts/Butler_Stencil_Webfont-ButlerStencil-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('../fonts/Butler_Stencil_Webfont-../fonts/Butler_Stencil_Webfont-ButlerStencil-Black.woff2') format('woff2'),
        url('../fonts/Butler_Stencil_Webfont-ButlerStencil-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('../fonts/Butler_Stencil_Webfont-../fonts/Butler_Stencil_Webfont-ButlerStencil-UltraLight.woff2') format('woff2'),
        url('../fonts/Butler_Stencil_Webfont-ButlerStencil-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('../fonts/Butler_Stencil_Webfont-../fonts/Butler_Stencil_Webfont-ButlerStencil-Bold.woff2') format('woff2'),
        url('../fonts/Butler_Stencil_Webfont-ButlerStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('../fonts/Butler_Stencil_Webfont-../fonts/Butler_Stencil_Webfont-ButlerStencil-Light.woff2') format('woff2'),
        url('../fonts/Butler_Stencil_Webfont-ButlerStencil-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

